<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lost and Found</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1>
      Lost and Found
    </h1>
    {{#if loggedIn}}
    <nav>
        <a href="/"><button>Lost and Found</button></a>
        <a href="/dashboard"><button>Dashboard</button></a>
        <a href="/about"><button id="about">About</button></a>
        <a href="/contact"><button id="contact">Contact</button></a>
        <button class="btn" id="logout">Log Out</button>
        {{else}}
        <a href="/"><button>Home</button></a>
        <a href="/login"><button id="login">Log In</button></a>
        <a href="/about"><button id="about">About</button></a>
        <a href="/contact"><button id="contact">Contact</button></a>
    </nav>
    {{/if}}
  </header>

  <main>
    {{{body}}}
  </main>

  <!-- Only include the logout script if the user is logged in -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>


{{!-- <head>
  <meta charset="UTF-8">
  <title>Project 2</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
     <h1>
        &#127881 Animal Project &#127881
      </h1> 
      <h1>
        User Registry
      </h1>
      <!-- Only display the logout button if the user is logged in -->
      {{#if logged_in}}
      <nav>
        <button class="btn" id="logout">logout</button>
      </nav>
      {{/if}}


    </header>

    <nav>
      <a href="/">Home</a>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </div>
      </nav>

    <main class="container container-fluid mt-5">
      <aside>
        <h2>Welcome to the page</h2>
      </aside>

      <div class="gallery">
        {{{body}}}
      </div>

    </main>
    <footer>

    </footer>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

  </div>
</body>

</html> --}}