<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lost and Found</title>
  <link href="./css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1>
      Animals </br>
      Lost and Found
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    {{#if loggedIn}}
    <nav >
        <a href="/"><button>Home</button></a>
        <a href="/dashboard"><button>Dashboard</button></a>
        <a href="/about"><button id="about">About</button></a>
        <a href="/contact"><button id="contact">Contact</button></a>
        <button class="btn" id="logout">Log Out</button>
        {{else}}
        <!-- Links for if the user is not logged in. Clicking on the dashboard will
        redirect to the login page as -->
        <a href="/"><button class="btn-LF" >Lost and Found Posts</button></a>
        <a href="/about"><button id="about">About</button></a>
        <a href="/contact"><button id="contact">Contact</button></a>
        <a href="/login"><button id="login">Log In</button></a>
    </nav>
    {{/if}}
  </header>

  <main>
    {{{body}}}
  </main>

  <!-- Only include the logout script if the user is logged in -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>


{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Find your Animal</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content='IE=edge'>
  <meta http-equiv="X-UA-Compatible" content='IE=edge'>

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 LOST AND FOUND AN ANIMAL &#127881
      </h1>
      <h1>
        User Registry
      </h1>
      <!-- Only display the logout button if the user is logged in -->
      {{#if logged_in}}
      <nav>
        <button class="btn" id="logout">logout</button>
      </nav>
      {{/if}}

    </header>

    <nav>
      <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </div>
    </nav>

    <main class="container container-fluid mt-5">
      <aside>
        <h2>Welcome Lost & Found My Critter</h2>
      </aside>

      <div class="gallery">
        {{{body}}}
      </div>

    </main>
    <footer>

      <div class="footernav" id="myTopnav">
        <a href="#footer" class="active">Info Line</a>
        <a href="tel:1-800-123-4567">Phone</a>
        <a href="mailto:info@animalsback.com">E-Mail</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    </footer>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

  </div>
</body>

</html> --}}