<header>
    <h1> About this App</h1>
    <h1> How to use it</h1>
</header>
<article>
    <h2>This free App helps reporting and finding the loved member of the family.</h2>
    <h3>Here are some simple steps to start the process:</h3>
</article>
<div>
    <ol>
        <li>Create a free account using "Sign-up"</li>
        <li>Enter your friends name</li>
        <li>Enter the animal type. Thus, it will be easier to lookup your friend!</li>
        <li>Provide a description, like what the animal likes, if it listens, etc. Anything that helps to reunite you!</li>
        <li>Upload an image</li>
    </ol>
</div>
<article>
    <h3>That's it!</h3>
    <h3>We do what we can to support you to reunite!</h3>
</article>