<div class="animal-card">
  <div class="animal-card-header">
  </div>
  <div class="card-body">
    <p>
      Please feel free to reach out with any questions, comments, or feedback to our personal email addresses below:

      <a href="mailto:Kennedy.ChristopherIan@gmail.com">Kennedy.ChristopherIan@gmail.com</a>
      <a href="mailto:ThomasSchmidtEmail@email.com">ThomasSchmidtEmail@email.com</a>

    </p>
  </div>
</div>