<section class="dashboard-view">

    <section class="create-post">
        <h1>Create New Post</h1>
        <button id="upload_widget" class="cloudinary-button">Upload files</button>

        <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

        <script type="text/javascript">  
            var myWidget = cloudinary.createUploadWidget({
                cloudName: 'dyz1jgp39', 
                uploadPreset: 'wpm89gsd'}, (error, result) => { 
            if (!error && result && result.event === "success") { 
                console.log('Done! Here is the image info: ', result.info); 
            }
            }
            )

                document.getElementById("upload_widget").addEventListener("click", function(){
                myWidget.open();
                    }, false);
        </script>




    <section class="create-post">
        <h1>Create New Post</h1>
        <form class="create-post-form">
            <div>
                <label for="post-title">Who did you lose?</label>
                <input type="text" name="post-name" id="post-name" />
            </div>
            {{!-- <div>
                <label for="post-location">Location last seen:</label>
                <input type="text" name="post-location" id="post-location" />
            </div> --}}

            <div>
                <label for="post-content">Descripe your firend</label>
                <input type="text" name="post-description" id="post-description" />
            </div>
            {{!-- <div>
                <label for="post-image">Post and picture</label>
                <input type="text" name="post-content" id="post-content" />
            </div> --}}
            <button type="submit" class="btn">Post Blog</button>
        </form>
        </section>


    <div class="list-posts">
        {{#if posts.length}}
        <h1>Your Profile</h1>
        <ol>
            {{#each posts as |post|}}
            {{> post-in-dashboard post}}
            {{/each}}
        </ol>
        {{/if}}
    </div>

</section>

<script src="/js/new-post.js"></script>