<section class="dashboard-view">

    <section class="create-post">
        <h1>Enter new Profile</h1>
        <form class="create-post-form">
            <div>
                <label for="post-title">Who did you lose?</label>
                <input type="text" name="post-title" id="post-title" />
            </div>
            <div>
                <label for="post-location">Location last seen:</label>
                <input type="text" name="post-description" id="post-description" />
            </div>

            <div>
                <label for="post-content">Descripe your firend</label>
                <input type="text" name="post-description" id="post-description" />
            </div>
            <div>
                <label for="post-image">Post and picture</label>
                <input type="text" name="post-content" id="post-content" />
            </div>
            <button type="submit" class="btn">Post Animal</button>
        </form>
    </section>

    <div class="list-blog-posts">
        {{#if posts.length}}
        <h1>Your Profile</h1>
        <ol>
            {{#each posts as |post|}}
            {{> post-in-dashboard post}}
            {{/each}}
        </ol>
        {{/if}}
    </div>

</section>

{{!--
<script src="/js/create-post.js"></script> --}}