<div class="post-list">
{{#each posts as |post|}}

<li class="homepage-list">
{{> post-homepage post}}
</li>

{{else}}
<h4>
    No lost and found posts available to be displayed.
</h4> 

{{/each}}
</div>
