        <container class="controw">
            <div class="maincol1" id="aboutme">
                About
                </br>
                Me
            </div>
            <div class="aboutmecol">
                <img src="./Images/ThomasSchmidt.jpg" alt="Image Thomas Schmidt" title="Thomas Schmidt" />
                <p>Executive of global operational and strategic leadership experience in technical service and
                    manufacturing industries, incl. P&L, C-level management, sales, engineering, manufacturing,
                    compliance. Strong focus on making our clients businesses a success, at all levels. Geographical
                    experience: North America, China, India, Europe</p>
                </br>
                <p>In an effort to develop software related to the years of experience, learning to become a fullstack
                    software developer was the next logical step. </br>
                </p>
            </div>
        </container>












{{!-- <a href="/profile"> Go to profile!!!</a> --}}
{{!-- {{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}
