:root {
    --primary: rgb(0, 0, 255);
    --secondary: #f5a25d;
    --tertiary: #fa7f72;
    --quatrinary: #86f30a;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }

    
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
    /* background-image: url("../public/images/animals_bg.PNG"); */
    background-position: center top;

  }
  
  header {
    padding: 40px;
    text-align: center;
    background-color: white;
    background-image: url("../images/animals_bg.PNG");
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: cover; */
    color: var(--secondary);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  
  nav {
    display: flex;
    background-color: var(--secondary);
  }

  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
  }

 .logbt {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  }

  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }



/* .controw {
    clear: both;
    float: left;
    margin: 0 0 5px 0;
    width: 100%;
    min-block-size: 110px;
   }
 */
/* .maincol1 {
    float: left;
    margin: 0 0.5% 5px 0;
    padding: 5px 5px 5px 0;
    width: 250px;
    min-height: inherit;
    text-align: right;
    font-size: 2rem;
    font-weight:bolder;
    color:#240555;
    background-color: var(--gin);
    border-right: 5px solid #240555;
}

.aboutmecol {
    clear: both;
    float: left;
    margin: 0 0 5px 0.2%;
    padding: 5px;
    width: 100%;
    min-height: inherit;
    border: 5px solid var(--bright-turquoise);
    /* background-image: -moz-linear-gradient(#66cccc, #336666);
    background-image: -webkit-linear-gradient(#66cccc, #336666);
    background-image:-o-linear-gradient(#66cccc, #336666); */

 */


  
  .add-animal-container {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    margin: 5px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 50px;
    text-align: center;
    background-color: var(--tertiary);
  }
  
  .edit-animal-container {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    margin: 5px auto;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
    padding: 50px;
    text-align: center;
    background-color: var(--tertiary);
  }
  
  /* CARDS */
  .animal-card {
    margin: 20px;
    flex: 0 1 300px;
    padding: 5px;
    width: 35%;
    min-height: 100%;
    min-width: 35%;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .card-header {
    color: var(--light);
    margin: 0;
    background-color: var(--secondary);
    padding: 0.625rem;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
  }

  .animal-card-header {
    font-size: 1.5rem;
    color: var(--tertiary);
    margin: 0;
    background-color: var(--light);
    padding: 0.625rem;
    border-bottom-style: solid;
  }
  
  .card-body {
    padding: 2.5%;
    font-size: 1.4rem;
    text-align: center;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }