<header>
    <h1>About This App</h1>
</header>
<article>
    <h2>This free app helps animal owners find their missing pet</h2>
    <h3>Here are some simple steps to start the process:</h3>
</article>
<ul class="about-list">
    <li>Create a free account and sign up</li>
    <li>Enter your pet's name</li>        
    <li>Enter the type of animal</li>
    <li>Provide a description of your pet and how to contact you</li>
    <li>Add any information that may help reunite you with your pet, such as:</li>
        <ul>
            <li>Pet's physical features</li>
            <li>What the animal likes</li>
            <li>If your pet listens</li>
            <li>Your contact information</li>
            <li>Etc!</li>
        </ul>
     <li>Upload an image of your missing pet</li>
 </ul>
</div>
<article>
    <h3>That's it! Other users can search posts, contact you, and reply to your post.</h3>
</article>