<div class="search-wrapper">
        <input type="text" name="searchBar" id="search-bar" placeholder="Search for a missing animal"/>
      </div>
      <ul id="searched-posts-list"></ul>

      <script src="/js/search-bar.js"></script>